<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Shyv ♡</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/resources/css/style.css}" type="text/css" />
    <!--    libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <!--    end libs for stomp and sockjs-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

    <body>
        <div class="" id="gameslog"> </div>
        <div id="playerSideList" class=""></div>

        <div class="text-center" id="box">
            <header>
                <h1>Shyv ♡</h1>
            </header>

            <div id="gameParts">
                <input id="name" placeholder="Place a name here" minlength="1">
                <input id="nationName" placeholder="Place a nam#2 here" minlength="1">
                <input type="color" id="nationColor" value="#ff0000">
                <br />
                <button name="createNewGameBtn" onclick="create_game()">Create a new game</button>
                <!-- 
                     <button onclick="connectToRandom()">Connect to random game</button>
               
                -->
                <br />
                <input id="game_id" placeholder="Paste game id" minlength="1">
                <button name="connectByGameIdBtn" onclick="connectToSpecificGame()">Connect by game id</button>
            </div>

            <div id="userInfo" hidden>
                <p id="userinfoName"></p>
            </div>

            <br />
            <div id="message"></div>
            <div class="clearfix"></div>

            <button id="playElemnt" onclick="makeTurn()">Value</button>
            <button onclick="hideGameOptions()">Hide options</button>
            <button onclick="showAllGames()">Show all games</button>
            <button onclick="togglePlayerList()">Show connected players</button>


            <footer>
                <span>Last word: <span id="gameLastStr"></span></span>
                <br />
                <span>You are playing with: <span id="playerlist"></span></span>
                <br />
                <span>Current game ID: <span id="game_id_display"></span></span>
                <button style="visibility: hidden;" id="gameIDCopy" onclick="copyGameID()">Copy ID</button>
            </footer>
        </div>
        <script src="js/script.js"></script>
        <script src="js/socket_js.js"></script>
    </body>
</body>

</html>