/*GameList*/
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

/*PlayerList*/
.sidenavRight {
    height: 100%;
    width: 15%;
    position: fixed !important;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: auto;
    /*hidden*/
    padding: 10px;
}

.sidenavRight p {
    padding: 6px 6px 6px 6px;
    color: #818181;
    display: block;
}

/*Main*/
.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#gamesLogEntry {
    background-color: #212121;
    border-color: #666;
    border-radius: 8px;
    border-width: 2px;
    padding: 1%;
    color: #fff;
    margin: 5%;
}