@import url("sidebar.css");

body {
    background: #212121;
    /* color: #666;*/
}

h1 {
    text-align: center;
    color: #fff;
}

.clearfix {
    clear: both;
}

#game_id_display {
    color: #000;
    text-decoration: none;
}

#gameLastStr {
    color: #000;
    text-decoration: none;
}

#box {
    /*  width: 750px;
    height: 450px;*/
    margin: 2%;
    padding: 5%;
    overflow: auto;
    background: #666;
    border-radius: 10px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard td.pitValue:hover {
    cursor: pointer;
    background: #000;
}

#gameBoard table {
    text-align: center;
}


footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}

.playerSideNavDiv {
    width: 18px;
    height: 18px;
    display: inline-block;
}